<template name="Search">
	{{> Header}}
	<main>
		<div class="search-controls">
			<form id="twitter-search">
				<input type="text" placeholder="search twitter..." id="twitter-search-input">
				<input type="submit" value="search" class="btn">
			</form>
		</div>

		<section class="twitter-search">
			{{#if Template.subscriptionsReady}} 
				{{#each searchResults}} 
					<p>{{text}}</p>
					<p>{{createdAt}}</p>
				{{/each}} 
			{{else}}
				<p>Loading...</p>
			{{/if}}
		</section>
	</main>
</template>